@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");

body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #5a5a5a;
    background-image: linear-gradient(90deg, #E6DDD2, #E0D5C7);
    min-height: 100%;
}

.nav-bg {
    background: #312d2f;
}

.navbar-brand {
    font-size: 2rem;
    font-family: 'Raleway', sans-serif;
}

.login-button {
    color: white;
    padding: 10px;
    border: white 1px solid;
    transition: color, border 0.5s;
}

.login-button:hover {
    color: lightgrey;
    border: lightgrey 1px solid;
    text-decoration: none;
}

.nav-link {
    transition: color 0.5s;
}

#navigation {
    padding: 0;
}

#navigation a {
    display: block;
}

.icon-background {
    height: 150px;
    background-color: #312d2f;
    width: 150px;
    margin: 10px auto;
    border-radius: 100px;
}

.icon-background img {
    height: 80px;
    margin: 35px auto auto auto;
}

.feature-img {
    width: 100%;
}

.desc-fixed {
    height: 120px;
}

a {
    color: #5a5a5a;
    transition: color 0.5s;
}

a:hover {
    color: #312d2f;
    text-decoration: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.carousel {
    margin-bottom: 4rem;
}

.carousel-item {
    height: 25rem;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel-first {
    background-image: url("../assets/background.jpg");
}

.carousel-second {
    background-image: url("../assets/background2.jpg");
    opacity: 0.8;
}

.carousel-third {
    background-image: url("../assets/background3.jpg");
}

.carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
}

/* MARKETING CONTENT
-------------------------------------------------- */
/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.marketing h2 {
    font-weight: 400;
}

.marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}

/* Featurettes
------------------------- */
.featurette-divider {
    margin: 5rem 0;
    /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
}

#results {
    list-style: none;
    padding: 0;
}

#cardDeck {
    margin-top: 8vh;
}

/* RESPONSIVE CSS */
@media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption {
        text-shadow: 1px 1px 3px black;
    }

    .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }

    .whiteBox #searchInput {
        height: 50px;
        width: 50vw;
        font-size: 20pt;
    }
}

html {
    scroll-behavior: smooth;
}

input, label {
    display: block;
}

input::-webkit-input-placeholder {
    padding-left: 1vw;
    font-family: 'Raleway', sans-serif;
}

::-moz-placeholder {
    padding-left: 1vw;
    font-family: 'Raleway', sans-serif;
}

:-ms-input-placeholder {
    padding-left: 1vw;
    font-family: 'Raleway', sans-serif;
}

::-webkit-input-placeholder {
    padding-left: 1vw;
    font-family: 'Raleway', sans-serif;
}

::placeholder {
    padding-left: 1vw;
    font-family: 'Raleway', sans-serif;
}
